<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".application.WhiteLabelApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhiteLabel"
        tools:targetApi="31">
        <activity
            android:name=".layout.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.main.home.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.main.cart.CartActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.main.discount.DiscountActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.main.coupon.CouponActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.main.profile.ProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.name.RegisterNameActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.email.RegisterEmailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.cpf.RegisterCpfActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.phone.RegisterPhoneActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.password.RegisterPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.forgot_password.ForgotPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".layout.register.address.RegisterAddressActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>